@model IEnumerable<Entidades.Permisos>

@{
    // modal de confirmación
    await Html.RenderPartialAsync("_ConfirmModal");
}

<h2>Permisos</h2>

<ul class="nav nav-tabs mb-3">

    <li class="nav-item">
        <a class="nav-link" asp-controller="Seguridad" asp-action="Usuarios">Usuarios</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-controller="Seguridad" asp-action="Roles">Roles</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-controller="Seguridad" asp-action="Permisos">Permisos</a>
    </li>
</ul>

<a href="@Url.Action("CrearEditarPermiso", "Seguridad")" class="btn btn-primary mb-3">Crear Permiso</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre del Permiso</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var permiso in Model)
        {
            <tr>
                <td>@permiso.nom_permiso</td>
                <td>
                    <a href="@Url.Action("CrearEditarPermiso", "Seguridad", new { id = permiso.id_permiso })" class="btn btn-warning btn-sm">Editar</a>
                    <a href="@Url.Action("EliminarPermiso", "Seguridad", new { id = permiso.id_permiso })" class="btn btn-danger btn-sm action-button" data-action-type="delete">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
