@{
    ViewData["Title"] = "Home Page";
}

<div class="index-content text-center">
    <h1 class="display-4 text-black-50 h1-index">DUNAMIS</h1>
    <p class="p-index">Sistema de gestión Recursos Humanos</a>.</p>
</div>
