<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title justify-content-center" id="confirmModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body justify-content-center">
                <div id="modalIcon" class="text-center mb-3">
                    <i id="actionIcon" class="bi"></i> <!-- El icono se actualizará dinámicamente -->
                </div>
                <div id="modalMessage" class="text-center">
                    ¿Está seguro de que desea realizar esta acción?
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="confirmActionButton">Sí</button>
            </div>
        </div>
    </div>
</div>